<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-7">
        <div class="card-body p-7">
          <form *ngIf="projectForm" [formGroup]="projectForm" (ngSubmit)="onFormSubmit(projectForm.value)">
            <h1 style="text-align:center">Create new project</h1>
            <hr />
            Project name:
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Name" formControlName="Name">
            </div>
            Project description:
            <div class="input-group mb-4">
              <textarea rows="4" type="text" class="form-control" placeholder="Description" formControlName="Description" ></textarea>
            </div>
            ASVS Level:
            <div class="input-group mb-3">
              <select class="form-control" formControlName="ASVSLevel" >
                <option value="1">Opportunistic</option>
                <option value="2">Standard</option>
                <option value="3">Advanced</option>
              </select>
            </div>
            <button type="submit" class="btn btn-block btn-success">Create project</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
