<p *ngIf="!project"><em>Loading...</em></p>

<form *ngIf="projectForm && project" name="projectForm" [formGroup]="projectForm" (ngSubmit)="onFormSubmit(projectForm.value)">
  <input type="hidden" formControlName="id" />
  <h3 style="text-align: center">Project description</h3>
  <textarea class="form-control" rows="5" formControlName="description"></textarea>
  <hr />

  <h3 style="text-align: center">Users and Roles</h3>
  <div id="table" class="table-editable">
    <span class="table-add float-right mb-3 mr-2">
      <a class="text-success" (click)="add()">
        Add user to project
      </a>
    </span>
    <table *ngIf="users" class="table table-bordered table-responsive-md table-striped text-center">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Role</th>
        <th class="text-center">Remove</th>
      </tr>
      <tr *ngFor="let person of users; let id = index">
        <td>
          <select class="form-control" *ngIf="usersToBeAdded" (change)="changeValue(id, 'name', $event)">
            <option *ngFor="let user of usersToBeAdded; let id = index" value="{{ user.id }}"
                    [selected]="person.userId==user.id ? true : null">
              {{ user.username }}
            </option>
          </select>
        </td>
        <td>
          <select class="form-control" *ngIf="rolesToBeAdded" (change)="changeValue(id, 'role', $event)">
            <option *ngFor="let role of rolesToBeAdded; let id = index" value="{{ role }}"
                    [selected]="person.role==role ? true : null">
              {{ role }}
            </option>
          </select>
        </td>
        <td>
          <span class="table-remove">
            <button type="button" color="danger" rounded="true" size="sm" class="btn btn-block btn-danger my-0" (click)="remove(id)">Remove</button>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <hr />
  <div class="col-sm-6">
    <span>Is this project completed?</span>
    <input class="form-control" title="Is Completed" type="checkbox" name="isCompleted" formControlName="isCompleted" />
  </div>
  <hr />

  <button type="submit" class="btn btn-block btn-success">Update</button>
</form>

<p *ngIf="updated">Updated</p>
