<p *ngIf="!project"><em>Loading...</em></p>

<div class="container">
  <div class="row" *ngIf="project">
    <div class="col-md-3 col-sm-4" style="overflow-y: auto">
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="panel-{{ categoryId }}">
        <ngb-panel *ngFor="let category of project.workflowElementCategories" id="panel-{{ category.categoryId }}"
                   title="{{ category.name }}" >
          <ng-template ngbPanelContent>
            <ul class="list-group-flush" [className]="category.isCompleted ? 'list-group-item-dark' : 'visible'">
              <li *ngFor="let element of category.workflowElements" [className]="element.isCompleted ? 'list-group-item-dark' : 'visible'" >
                <a [routerLink]="['/project/'+project.id+'/'+category.categoryId+'/'+element.elementId]">{{ element.name }}</a>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <br />
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="row">
        <div class="col-md-9"><h2 style="text-align: center"><a *ngIf="project" [routerLink]="['/project/'+project.id]">{{ project.name }}</a></h2></div>
        <div class="col-md-3"><h3 style="text-align: right"><a [routerLink]="['/project-settings/' + project.id]">Settings</a></h3></div>
      </div>
      <hr />
       
      <div class="container" *ngIf="!categoryId && !elementId && !settings && !ssllabs && !tooling">
        <p>{{ project.description }}</p>
        <hr />
        <a class="btn btn-block btn-success" [routerLink]="['/project-ssllabs/' + project.id]">To SSLLabs Data</a>
        <a class="btn btn-block btn-success" [routerLink]="['/project-tooling/' + project.id]">To Tooling</a>
      </div>

      <div class="container" *ngIf="!elementId && categoryId && category && !settings && !ssllabs && !tooling">
        <h2 style="text-align: center">{{ category.name }}</h2>
        <p>{{ category.description }}</p>
      </div>

      <div class="container" *ngIf="elementId && categoryId && category && element && !settings && !ssllabs && !tooling">
        <app-project-details [project]="project" [category]="category" [element]="element"></app-project-details>
      </div>
      
      <div class="container" *ngIf="settings && !ssllabs && !tooling">
        <app-project-settings></app-project-settings>
      </div>

      <div class="container" *ngIf="ssllabs && !tooling && !settings">
        <app-project-ssllabs></app-project-ssllabs>
      </div>

      <div class="container" *ngIf="tooling && !ssllabs && !settings">
        <app-project-kali-linux></app-project-kali-linux>
      </div>
    </div>
  </div>
</div>
