<p *ngIf="!project"><em>Loading...</em></p>

<div class="container">
  <div class="row" *ngIf="project">
    <div class="col-md-3 col-sm-4" style="overflow-y: auto">
      <ngb-accordion #acc="ngbAccordion">
        <!--activeIds="ngb-panel-0"-->
        <ngb-panel *ngFor="let category of project.workflowElementCategories" title="{{ category.name }}">
          <ng-template ngbPanelContent>
            <ul>
              <li *ngFor="let element of category.workflowElements">
                <a [routerLink]="['/project/'+project.id+'/'+category.categoryId+'/'+element.elementId]">{{ element.name }}</a>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>

    <div class="col-md-9 col-sm-8">
      <h2 style="text-align: center">{{ project.name }}</h2>
      <hr />

      <div *ngIf="!categoryId && !elementId">
        <p>{{ project.description }}</p>
      </div>

      <div *ngIf="!elementId && categoryId && category">
        <h2 style="text-align: center">{{ category.name }}</h2>
        <p>{{ category.description }}</p>
      </div>

      <div *ngIf="elementId && categoryId && category && element">
        <h2 style="text-align: center">{{ element.name }}</h2>
        <p>{{ element.description }}</p>
        <hr />
        
        <form *ngIf="projectForm" [formGroup]="projectForm" (ngSubmit)="onFormSubmit(projectForm.value)">
          <textarea class="form-control" formControlName="Explanation" ng-model="myTextarea"></textarea>
          <br />
          <span>Is this element done?</span>
          <input title="Is Done" type="checkbox" formControlName="IsDone" class="form-control"/>
          <br />
          <button type="submit" class="btn btn-block btn-success">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
