<h2 style="text-align: center">{{ element.name }}</h2>
<hr />

<form *ngIf="projectForm && element" name="projectForm" [formGroup]="projectForm" (ngSubmit)="onFormSubmit(projectForm.value)">
  <input type="hidden" formControlName="elementId" />
  Description: 
  <textarea class="form-control-plaintext" rows="3" formControlName="description" contenteditable="true"></textarea>
  <hr />
  Logs: 
  <textarea style="font-family: Courier New, Courier, monospace;" class="form-control" rows="4" formControlName="explanation"></textarea>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <span>Is this element done?</span>
      <input class="form-control" title="Is Done" type="checkbox" name="isDone" formControlName="isDone" />
    </div>
    <br />
    <div class="col-sm-6">
      <span>Is this element relevant?</span>
      <input class="form-control" title="Is Relevant" type="checkbox" name="isRelevant" formControlName="isRelevant" />
    </div>
  </div>
  <hr />
  <button type="submit" class="btn btn-block btn-success">Update</button>
</form>
