<a class="nav-link text-dark" [routerLink]='["/create-project"]'>Add Project</a>

<p *ngIf="!projects"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="projects">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Project Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.name }}</td>
      <td>{{ project.description }}</td>
      <td><a [routerLink]="['/project/'+project.id]">Details</a></td>
    </tr>
  </tbody>
</table>

